[Unit]
Description=MyWebpage Start service

[Service]
ExecStart=/var/www/MyWebpage-Implementation/site_manager.sh -restart-site

[Install]
WantedBy=multi-user.target